{{outlet}}
<h1>Tasks</h1>
{{#each model as |task|}}
  <div class="well">
    <h4>Title: {{task.title}}</h4>
    
    <p>Description: {{task.description}}</p>
    <small>Due: {{format-date task.date}}</small>
  </div>
{{/each}}
